.password-toggle-btn {
  border-left: 0;
  min-width: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input-group > .form-control:focus {
  z-index: 3;
}

.input-group > .form-control + .password-toggle-btn {
  border-color: var(--bs-border-color);
}

.password-toggle-btn:focus,
.password-toggle-btn:active {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.2);
}

.password-toggle-btn i {
  pointer-events: none;
}
