body {
  background-color: #f8f9fa;
  color: #212529;
}

.card {
  background-color: #fff;
  color: #212529;
}

.navbar {
  background-color: #343a40 !important;
}

input.form-control {
  background-color: #fff;
  color: #212529;
}

@media (max-width: 576px) {
  .card {
    margin: 0 10px;
  }
}
